body {
    margin: auto 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #f2f2f2;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.nav>div {
    padding: 5px 10px;
}

.centro {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo {
    text-align: center;
    background-color: blue;
    width: 50vw;
    height: 15vh;
}

.barra_busq {
    text-align: center;
    background-color: rgb(28, 231, 55);
    width: 50vw;
    height: 10vh;
}

.botones {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.botones>div {
    padding: 20px 15px;
    margin: 5px;
    background-color: #f8f9fa;
    border: solid #f8f9fa 1px;
}

.botones>div:hover {
    border: solid rgb(12, 142, 175) 1px;
    cursor: pointer;
}

main>p>a {
    text-decoration: none;
}

.barra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 25px;
    padding: 0 25px;
    height: 50px;
    color: black;
    width: 70%;
    border: solid rgba(0, 0, 0, 0.103) 1px;
    margin: 25px 0;
}

.barra>input {
    border: none;
    width: 90%;
    height: 75%;
}

#footer_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border-top: solid #dddddd 1px;
}

#footer_info>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer_info>div>div,
#españa {
    margin: 0 15px;
}

footer>div {
    padding: 20px;
}